@use "@angular/material" as mat;
@use "../../m3-theme.scss" as light;
@use "util" as *;

@include mat.elevation-classes();
@include mat.app-background();

$web-client-theme: light.$light-theme;

:root {
  @include mat.all-component-themes($web-client-theme);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  background-color: get-color($shades-of-blue-grey, 9);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Default Chrome styles for headings */
h1,
.h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2,
.h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3,
.h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4,
.h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5,
.h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6,
.h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
