@use "main";
@use "resets/link";
@use "dashboard.scss";
@use "util" as *;

.hero-image {
  max-width: 100%;
  aspect-ratio: 16/9;
}

.card {
  height: 100%;
  background-color: get-color($shades-of-blue-grey, 8);
  &:hover {
    background-color: get-color($shades-of-blue-grey, 7);
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px; // Padding from the header menu

  mat-form-field {
    width: 70%;
    min-width: 300px;
    background-color: white; // White background only for the search bar
    padding: 17px;
    // margin-bottom: 0; // Remove extra margin at the bottom
    padding-bottom: 0px; // Reduce bottom padding
  }
}