a.reset {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}
