@if(garage) {

<div class="garage-page">
  <!-- <p>{{ JSON.stringify(garage) }}</p> -->
  <img src="api/Images/Garages/{{ garage.slug }}.jpg" class="hero-image" />
  <iframe
  width="600"
  height="450"
  style="border: 0"
  loading="lazy"
  allowfullscreen
  [src]="mapUrl"
></iframe>
  <h1>{{ garage.name }} - {{ garage.campus }}</h1>
  <ngx-stars
    #garageRating
    [readonly]="true"
    [initialStars]="0"
    [size]="4"
  ></ngx-stars>
  <div class="attributes">
    <h2 class="permit-required">
      Permit Required - {{ garage.permitRequired }}
    </h2>
  </div>
  <hr class="horizontal-line" />
  <mat-card class="create-review p-2 card">
    <mat-card-content>
      <h2 class="username">{{ username }}</h2>
      <ngx-stars
        #reviewRating
        class="rating-stars"
        [readonly]="false"
        [initialStars]="0"
        [size]="3"
      ></ngx-stars>
      <textarea
        matInput
        [maxLength]="1000"
        (input)="updateCharacterCount($event)"
        [(ngModel)]="reviewText"
        class="create-review-text"
        placeholder="Review text here"
      ></textarea>
      <span class="character-counter">
        {{ currentCharacterCount }} / {{ maxCharacterCount }}
      </span>
      <button
        mat-flat-button
        (click)="sendReview()"
        class="secondary review-button"
      >
        Review
      </button>
    </mat-card-content>
  </mat-card>
  <hr class="horizontal-line" />
  <div class="review-container">
    <reviews
      #reviewsComponent
      [loadReviewsMethod]="getReviewsLoader()"
    ></reviews>
  </div>
</div>

}
