@if(garage) {
  
  <div class="single garage">
    <mat-card class="card">
      <img
        src="api/Images/Garages/{{ garage.slug }}.jpg"
        class="hero-image"
      />
    </mat-card>
    <h1>{{ garage.name }} - {{ garage.campus }}</h1>
    <div class="info">
      <ngx-stars
        #garageRating
        [readonly]="true"
        [initialStars]="0"
        [size]="4"
      ></ngx-stars>
      <div class="summary">
        Here we will have a summary of the reviews for this garage, or we can add
        a description. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <ul class="attributes">
        @if (garage.permitRequired) {
        <li class="attribute">
          Requires Permit
          <mat-icon>card_membership</mat-icon>
        </li>
        }
      </ul>
    </div>
    <mat-card id="create-review" class="create-review p-2 card">
      <mat-card-content>
        <h2 class="username">{{ username }}</h2>
        <ngx-stars
          #reviewRating
          class="rating-stars"
          [readonly]="false"
          [initialStars]="0"
          [size]="3"
        ></ngx-stars>
        <mat-form-field class="create-review-text-field">
          <textarea
            matInput
            [maxLength]="1000"
            (input)="updateCharacterCount($event)"
            [(ngModel)]="reviewText"
            class="create-review-text"
          ></textarea>
        </mat-form-field>
        <span class="character-counter">
          {{ currentCharacterCount }} / {{ maxCharacterCount }}
        </span>
        <button
          mat-flat-button
          (click)="sendReview()"
          class="secondary review-button"
        >
          Review
        </button>
      </mat-card-content>
    </mat-card>
    <div class="review-container">
      <reviews
        #reviewsComponent
        [loadReviewsMethod]="getReviewsLoader()"
      ></reviews>
    </div>
  </div>
}