<div
  class="review-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
>
  @for (reviewWithUser of reviews.values(); track reviewWithUser) {

  <mat-card class="review card">
    <!-- {{ JSON.stringify(review) }} -->
    <mat-card-content>
      <div class="review">
        <div class="review-body">
          <div class="review-heading">
            <div class="review-heading-group">
              <span class="review-username">{{
                emailToUsername(reviewWithUser.user.email)
              }}</span>
              <ngx-stars
                class="review-stars"
                [readonly]="true"
                [initialStars]="reviewWithUser.review.starRating"
                [size]="2"
              ></ngx-stars>
            </div>
            <em class="review-time-created">
              {{
                convertDateToReadable(reviewWithUser.review.timeCreated, true)
              }}
            </em>
          </div>
          <span class="review-text">{{
            reviewWithUser.review.reviewText
          }}</span>
        </div>
        <div class="votes">
          <span class="vote" (click)="upvote(reviewWithUser.review)">
            <mat-icon [class]="voteSelectedClass(reviewWithUser.review, 'upvote')">
              keyboard_arrow_up
            </mat-icon>
          </span>
          {{ reviewWithUser.review.averageVote }}
          <span class="vote" (click)="downvote(reviewWithUser.review)">
            <mat-icon [class]="voteSelectedClass(reviewWithUser.review, 'downvote')">
              keyboard_arrow_down
            </mat-icon>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
