@use "util" as *;

.review-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-heading-group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  mat-icon {
    transition: transform 0.2s ease-in-out;
    &:hover,
    &.selected {
      color: $primary-color;
      transform: scale(1.2);
      transition: none;
    }
  }
}
