<div
  class="review-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
>
  @for (review of reviews.values(); track review) {

  <mat-card class="review card">
    <!-- {{ JSON.stringify(review) }} -->
    <mat-card-content>
      <div class="review-heading">
        <div class="review-heading-group">
          <!-- TODO - Add username once we can grab it form the backend, also needs to work for anonymous reviews -->
          <!-- <span class="review-username">{{ emailToUsername(review.user.email) }}</span> -->
          <span class="review-username">$USERNAME</span>
          <ngx-stars
            class="review-stars"
            [readonly]="true"
            [initialStars]="review.starRating"
            [size]="2"
          ></ngx-stars>
        </div>
        <em class="review-time-created">
          {{ convertDateToReadable(review.timeCreated, true) }}
        </em>
      </div>
      <div class="text-votes">
        <span class="review-text">{{ review.reviewText }}</span>
        <div class="votes" >
          <span class="vote" (click)="upvote(review)">
            <svg width="36" height="36">
              <path d="M2 26h32L18 10 2 26z" [attr.fill]="color"></path>
            </svg>
          </span>
          {{ review.averageVote }}
          <span class="vote" (click)="downvote(review)">
            <svg width="36" height="36">
              <path d="M2 10h32L18 26 2 10z" fill="currentColor"></path>
            </svg>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  }
</div>
