.review-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review {
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-heading-group {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
}
