<div id="login-page" class="login-page">
    <div class="login-layout">
        <h1 class="login-text">Login</h1>
        <img src="../../assets/ucreviews-logo.png" class="logo"/>
        <div class="login-form">
            <h2 class="password-text">Password</h2>
            <input [(ngModel)]="password" type="text" class="password-input"/>
            <h3 [ngStyle]="{'visibility': isError ? 'visible' : 'hidden'}" class="error-text">{{errorMessage}}</h3>
            <button class="login-button" (click)="loginClick()">Login</button>
        </div>
        <h3 class="footer-text">We are not affiliated with University of Cincinnati</h3>
    </div>
</div>