@import '../../styles.scss';

.dorm-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image {
    width: 60%;
    box-shadow: 0 15px 35px hsla(0%, 0%, 0%, .2);
}
.name {
    font-family: 'Inter', sans-serif;
    color: get-color($shades-of-blue-grey, 3);
    text-align: end;
}
.style-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: get-color($shades-of-blue-grey, 3);
    width: 60%;
    justify-content: space-evenly;
}
.style {
    font-weight: 500;
}

.cost {
    font-weight: 500;
}

.description {
    font-family: 'Inter', sans-serif;
    color: get-color($shades-of-blue-grey, 3);
    font-weight: 400;
    max-width: 37em;
    text-align: center;
    
}    
.horizontal-line {
    height: 1px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    width: 60%;
    color: black;
}

.create-review {
    width: 60%;
    height: 400px;
    background-color: get-color($shades-of-blue-grey, 10);
    margin: 20px 0;
    align-items: center;
}
.username {
    font-family: 'Inter', sans-serif;
    color: get-color($shades-of-blue-grey, 3);
}
.create-review-text {
    resize: none;
    width: 85%;
    margin: 0 auto;
    height: 250px;
    border: none;
    outline: none;
    background-color: get-color($shades-of-blue-grey, 9);
    padding: 10px;
    font-size: get-size(4);
    color: get-color($shades-of-blue-grey, 2);
    border-radius: 5px;
}
.character-counter {
    margin-left: 81%;
    color: get-color($shades-of-blue-grey, 2);
    font-family: 'Inter', sans-serif;
}

.rating-stars {
    margin: get-size(3) 0;
}

.review-button {
    border: none;
    width: 15em;
    height: 5em;
    margin: get-size(3) 0;
}

.single-review {
    margin: 20px 0;
    width: 60%;
    align-items: center;
    background-color: get-color($shades-of-blue-grey, 10);
}

.review-text {
    font-family: 'Inter', sans-serif;
    color: get-color($shades-of-blue-grey, 4);
    text-align: center;
}

.review-stars {
    margin: 20px 0;
}

.time-created {
    color: get-color($shades-of-blue-grey, 6);
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 800px) {
    .image {
        width: 100%;
    }
    .description {
        margin: 0 50px 0 50px
    }
    .create-review {
        width: 100%;
        height: 350px;
    }
    .rating-stars{
        margin: 0;
    }
    .single-review {
        width: 100%;
    }
    .review-stars {
        margin: 0;
    }
}