<div id="overall-dashboard-page" class="dashboard-page">
  <ng-container *ngFor="let category of categories">
    <div class="inline-card">
      <mat-card class="card" (click)="categoryClick(category)">
        <img src="/api/overall-dashboard-images/{{category.image}}" class="image" />
        <div class="info">
          <h2 class="name">{{category.name}}</h2>
          <div class="style-cost">
            <h3 class="description">{{category.description}}</h3>
          </div>
          <button mat-flat-button>View</button>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>