@if(diningHall) {

<div class="single dining">
  <!-- <p>{{ JSON.stringify(diningHall) }}</p> -->
  <img
    src="api/Images/DiningHalls/{{ diningHall.nameQueryParameter }}.png"
    class="hero-image"
  />
  <h1>{{ diningHall.name }}</h1>
  <ngx-stars
    #diningHallRating
    [readonly]="true"
    [initialStars]="0"
    [size]="4"
  ></ngx-stars>

  <ul class="attributes">
    <li class="attribute">
      Category:
      {{ diningHall.category }}
      <dining-category-icon
        [style]="diningHall.category"
      ></dining-category-icon>
    </li>
    <li class="attribute">
      Included in Meal Plan?
      <meal-plan-icon
        [style]="diningHall.includedInMealPlan"
        [matTooltip]="diningHall.includedInMealPlan"
      ></meal-plan-icon>
    </li>
  </ul>
  <div class="attributes">
    <p class="description">{{ diningHall.description }}</p>
    <p class="location">
      <mat-icon>location_on</mat-icon>{{ diningHall.location }}
    </p>
  </div>
  <mat-card id="create-review" class="create-review p-2 card">
    <mat-card-content>
      <h2 class="username">{{ username }}</h2>
      <ngx-stars
        #reviewRating
        class="rating-stars"
        [readonly]="false"
        [initialStars]="0"
        [size]="3"
      ></ngx-stars>
      <textarea
        matInput
        [maxLength]="1000"
        (input)="updateCharacterCount($event)"
        [(ngModel)]="reviewText"
        class="create-review-text"
        placeholder="Review text here"
      ></textarea>
      <span class="character-counter">
        {{ currentCharacterCount }} / {{ maxCharacterCount }}
      </span>
      <button
        mat-flat-button
        (click)="sendReview()"
        class="secondary review-button"
      >
        Review
      </button>
    </mat-card-content>
  </mat-card>
  <reviews #reviewsComponent [loadReviewsMethod]="getReviewsLoader()"></reviews>
</div>

}
