@import "main.scss";
@import "resets/link.scss";

.dashboard-page {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}

.hero-image {
  max-width: 100%;
  aspect-ratio: 16/9;
}

.card {
  height: 100%;
  background-color: get-color($shades-of-blue-grey, 8);
  &:hover {
    background-color: get-color($shades-of-blue-grey, 7);
  }
}
