@import "../../styles.scss";

.dashboard-page {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}

.hero-image {
  max-width: 100%;
}

.card {
  height: 100%;
}


a {
  text-decoration: none;
  color: inherit; /* Inherits the color of the parent element */
}

a:visited {
  color: inherit; /* Inherits color for visited links as well */
}

a:hover,
a:focus,
a:active {
  text-decoration: none; /* No underline on hover/focus/active */
  color: inherit; /* Keeps the same color */
  outline: none; /* Removes default focus outline */
}
