<div
  id="dashboard-page"
  class="dashboard-page"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  @for (garage of garages; track garage) {
  <a
    class="inline-card reset"
    [routerLink]="'/dashboard/garages/' + garage.slug"
  >
    <mat-card class="card">
      <mat-card-content>
        <img
          src="api/Images/Garages/{{ garage.slug }}.jpg"
          class="hero-image"
          alt="Image of {{ garage.name }}"
        />
        <div class="info">
          <h2 class="name">{{ garage.name }}</h2>
          <ngx-stars
            [size]="2"
            [readonly]="true"
            [initialStars]="garage.averageRating"
            [title]="getGarageRatingTitle(garage)"
          ></ngx-stars>
          <div class="attributes">
            <h2 class="permit-required">
              Permit Required - {{ garage.permitRequired }}
            </h2>
          </div>
          <button mat-flat-button>Review</button>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
  }
</div>
