<div
  class="dashboard course"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  *ngIf="!hasChildRoute"
>
  @for (course of courses; track course.id) {
  <a
    class="inline-card reset"
    [routerLink]="'/dashboard/courses/' + course.nameQueryParameter"
  >
    <mat-card class="card">
      <mat-card-content>
        <div class="info">
          <h2 class="name">{{ course.subject }} {{ course.number }}</h2>
          <h2 class="name">{{ course.name }}</h2>
          <ngx-stars
            [size]="2"
            [readonly]="true"
            [initialStars]="course.reviewSummary?.averageRating || 0"
            [matTooltip]="getCourseRatingTitle(course)"
          ></ngx-stars>
          <button mat-flat-button>Review</button>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
  }
</div>

<router-outlet></router-outlet>